.App {
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.App::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 포스트 작성 버튼 */
.newPostContainer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-left: 4rem;
    position: fixed;
    position: absolute;
    bottom: 4rem;
}

.newPost {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
    position: fixed;
}

.newPostBtn {
    width: 7rem;
    height: 3rem;
    background-color: #69B567;
    border-radius: 0.5rem;
}

/* post */
.post-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    row-gap: 60px;
    align-items: center;
    padding: 8rem 0;
    overflow-y: scroll;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.post-container::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지  */
}

.post {
    width: 40%;
    min-width: 20rem;
    height: 18rem;
    background-color: #FFFDE8;
    border-radius: 1rem;
    border: 3px solid #F4EB95;
    padding: 2rem 4rem 2rem 4rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px;
    /* 텍스트 선택 막기 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
}
.post:hover {
    background-color: #fffbcf;
}

.post-title {
    color: #666;
    font-weight: 100;
    font-size: 2.25rem;
    margin: 2rem 0 0 0;
}
.post-writer, .post-date{
    color: #999;
    display: inline-block;
    font-size: 1.1rem;
}
.post-writer {
    margin-left: 0.25rem;
    margin-right: 2rem;
}
.post-content {
    color: #999;
    font-size: 120%;
    margin-top: 2rem;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal form {
    background-color: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
  
.modal form input,
.modal form textarea {
    width: 30rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
.modal form input,
.modal form textarea:focus {
outline: none;
}

.textarea {
    height: 8rem;
    word-break: keep-all;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.textarea::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.counter {
    color: #666;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    /* 텍스트 선택 막기 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}  

.modal form button {
    width: 6rem;
    height: 2.75rem;
    background-color: #69B567;
    border: none;
    border-radius: 0.5rem;
    /* 텍스트 선택 막기 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
}

.errorMessage {
    color: red;
}

.post:hover{
    cursor: pointer;
}

/* tablet */
@media screen and (max-width: 1024px) {
    .post {
    height: 16rem;
    padding: 1.75rem 4rem 1.75rem 4rem;
    }
    .post-title {
    font-size: 1.9rem;
    margin: 1.5rem 0 0 0;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .post {
        height: 13rem;
        padding: 1.5rem 3.75rem 1.5rem 3.75rem;
    }
    .post-title {
        font-size: 1.75rem;
        margin: 1rem 0 0 0;
    }
    .post-writer, .post-date{
        color: #999;
        display: inline-block;
        font-size: 1rem;
    }
    .post-content {
        color: #999;
        font-size: 120%;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 620px) {
    
    .newPostContainer {
        padding-left: 6rem;
    }

    .newPost {
        padding-left: 6rem;
    }
}