.App {
  width: 100%;
  height: 100%;
}

/* userInfo */
.btns {
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}
.btns:hover {
  background-color: #69B567;
}

.fbtn {
  margin-right: 10px;
}

/* totalTime */
.totalTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 2rem;
  padding: 5%;
  /* 요소 선택 막기 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.totalH1 {
  text-align: center;
  margin-top: 0;
  word-break: keep-all;
}

.totalSpan {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  color: #69B567;
}

/* studyTime */
.usertimecontainer{
  width: 100%;
}
.usertimecal {
  display: flex;
  justify-content: center;
}

.studyTime {
  /* 요소 선택 막기 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}      

.studyTimeTh {
  width: 7rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.studyDate, .studyTime {
  text-align: center;
  font-size: 1.25rem;
}

/* calendar */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.prevBtn,
.nextBtn {
  border-radius: 8px;
  padding: 10px;
}

.angle-icon {
  width: 1.25rem;
  height: auto;
  padding-top: 25%;
}

.calendar-h1 {
  text-align: center;
  font-size: 1.75rem;
  padding: 0 20px 0 20px;
  word-break: keep-all;
}

.calendar {
  font-size: 1.25rem;
  border: #666666 solid 1.75px;
  border-radius: 2rem;
  padding: 2% 5% 3% 5%;
  /* 요소 선택 막기 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.grid-container-calendar,
.date-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 0 20px 0;
}

.date-grid-container {
  color: black;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  grid-column-start: 5;
}

@media only screen and (min-width: 1024px) {
  /* 태블릿 */
  .container{
    display: grid;
    grid-gap: 7%;
    width: auto;
  }
  
  .container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
    width: auto;
    height: 20rem;
  }
  .user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
    /* 요소 선택 막기 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
  }
  .profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  .userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  .usertable{
    display: grid;
  }
  
  
  .container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
    width: auto;
    height: 20rem;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: auto;
    min-height: fit-content;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
}

@media only screen and (max-width: 1023px) {
  /* 태블릿 */
  .container{
    display: grid;
    flex-grow: 1;
    flex-shrink: 1; 
    grid-gap: 5%;
    margin-top: 5%;
  }
  
  .container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  .user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
  }
  .profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  .userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  .usertable{
    display: grid;
  }
  
  
  .container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
}

@media screen and (max-width: 900px) {
  /* totaltime */
  .totalSpan {
    font-size: 3rem;
  }

  /* calendar */
  .calendar-h1 {
    font-size: 1.25rem;
    padding: 0 10px 0 10px;
  } 

  .calendar {
    font-size: 1rem;
  }

  .prevBtn,
  .nextBtn {
    border-radius: 8px;
    padding: 5px;
  }

  .studyDate, .studyTime, .studyTimeTh {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 9rem;
    height: auto;
  }
}