.App {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

.App::-webkit-scrollbar {
  display: none;
  /* 크롬, 사파리, 오페라, 엣지 */
}

.studyContainer {
  background: url('../../public/images/study_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.studyContainer::-webkit-scrollbar {
  display: none;
  /* 크롬, 사파리, 오페라, 엣지 */
}

.timer {
  position: fixed;
  width: 10rem;
  height: 10rem;
  margin-top: 55px;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 0px 10px 20px 20px;
  border-radius: 10px;
  border: 3px solid black;
}

.btnStart {
  margin-right: 6px;
}

.box {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  justify-items: center;
  align-items: center;
}

.desk_img {
  width: 100%;
}

.nickName {
  text-align: center;
  font-size: 25px;
  color: black;
  background-color: rgb(255, 211, 15);
  border: 3px solid rgb(196, 162, 14);
  border-radius: 5px;
  padding: 1px 15px;
}

.usersDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.colorTimer {
  color: #69B567;
}

.timer_img {
  width: 40px;
  height: 40px;
}

.timer_title{
  display: flex;
  align-items: center;
  gap: 10px;
}