.background {
    background: url('../../public/images/study_back.jpg');
}
.test {
    width: 100%;
    height: 100%;
}

.StopScrolling{
    overflow-y: hidden;
    overflow: hidden;
  }
.imgcon{
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.imgcon::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
